@import "../../../_css/common";

.error {
  color: red;
  margin-bottom: 15px;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base);

  @include mid-break {
    width: 100%;
  }
}

.submit {
  width: 100%;
  margin-top: calc(var(--base) / 2);
  margin-bottom: calc(var(--base) / 2);
  font-weight: 600;

}
.submit:hover {
 cursor: pointer;
  background-color: rgba(0, 0, 0, 0.331) ;
  backdrop-filter: blur(10px);
  color: var(--color-base-0);
  transition: all .3s;
}

.message {
  margin-bottom: var(--base);
}

