@import '../../../_css/common';

.items {
  margin: 30px 0;
}

.header {
  display: grid;
  grid-template-columns: 40px 2fr 1fr;
  gap: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-base-700);

  @include small-break {
    display: none;
  }
}

.headerItemDetails {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.headersubtotal {
  text-align: end;
}
.bottomline{
  display: none;
  width: 100%;
  @include small-break {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-base-700);
  }
  
}
.subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orderTotal {
  margin-top: var(--base);
  font-weight: 600;
  text-align: end;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 60px;
  backdrop-filter: blur(15px);
  background-color: rgba(127, 127, 127, 0.252);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.475);
  border-radius: 5px;
}


.payment {
  margin-bottom: 40px;
}

.loading,
.error {
  margin-top: calc(var(--block-padding) - var(--base));
}