@use '../../_css/common.scss' as *;

.cartContiner{
  margin-top: calc(var(--base) * 3);
  width: 100%;
  // border: solid 1px white;
  @include small-break {
    margin-top: calc(var(--base) * 3);
  }
}
