@import "../../_css/common";

.categorySection {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: var(--base) 0;
    text-decoration: none;
    margin-bottom: calc(var(--base) * 2);
}

.titlewapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(var(--base) * 2);
}
.showAllLink {
    text-decoration: none;
}
.catlist {
    display: grid;
    gap: var(--base);
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items:center;
    @include mid-break {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include small-break {
        grid-template-columns: 1fr 1fr;
    }
    @include extra-small-break {
        grid-template-columns: 1fr;
    }
}
