@import "../../_css/queries.scss";

.hero {
  position: relative;
  padding-top: calc(var(--base) * 3);
  padding-bottom: calc(var(--base) * 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  // border: solid 1px white;

  @include mid-break {
    padding-top: calc(var(--base) * 3);
    padding-bottom: var(--gutter-h);
  }
}

.media {
  // border: solid 1px white;
  width: 100%;
  max-width: 900px;
  min-width: 400px;

  @include small-break {
    display: none ;
    // width: fit-content;
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 1;
    // filter: blur(20px);
    // opacity: 0.6;
  }
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: var(--base);
  flex-wrap: wrap;
  margin: calc(var(--base) * -0.5);

  & > * {
    margin: calc(var(--base) / 2);
  }
}

.caption {
  margin-top: var(--base);
  color: var(--theme-elevation-500);
  left: calc(var(--gutter-h) / 2);
  width: 100%;

  @include mid-break {
    left: var(--gutter-h);
  }
}

.content {
  z-index: 2;
  // border: solid 1px white;
}

.herobtn:hover {
  background-color: rgba(119, 119, 119, 0.349);
  color: var(--color-base-0);
  transition: all 0.4s;
}
